*{
	margin: 0 auto;
	font-family: 'Oswald', sans-serif;
}
.grid-container{	
	height: auto;
	width: 60%;
}
.row:before, .row:after{
	content: "";
	clear: both;
	display: table;
}
[class*='col-']{
	float: left;
	min-height: 1px;
	height: 100%;
	background: white;
	box-sizing: border-box;
}
.col-1-12{
		width: 8.33%;
	}
.col-2-12{
		width: 16.66%;
	}
.col-3-12{
		width: 24.99%;
	}
.col-4-12{
		width: 33.33%;
	}
.col-5-12{
		width: 41.65%;
	}
.col-6-12{
		width: 49.98%;
	}
.col-7-12{
		width: 58.31%;
	}
.col-8-12{
		width: 66.64%;
	}
.col-9-12{
		width: 74.97%;
	}
.col-10-12{
		width: 83.33%;
	}
.col-11-12{
		width: 91.63%;
	}
.col-12-12{
		width: 100%;
	}
.header{
	background: $col1;
	background-image: url('../images/2b.jpg');
	background-size: 100% 100%;
	height: 96vh;
}
nav{
	background-color: $col1;
}
ul.topnav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #333;
}
ul.topnav li{
	float:left;
}
ul.topnav li a{
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}
ul.topnav li a:hover{
	background-color: $col1;
}
ul.topnav li.icon{
	display: none;
}

.footer{
	background: $col1;
	height: 160px;
}
.main{
	height: auto;
	color: $col2;
	font-size: 30px;
}
.foto{
	background: $col1;
	background-image: url('../images/pd.png');
	background-size: 100% 100%;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	box-shadow: 0 7px 10px #999;
	border: 10px solid #dedede;
}
.foto:hover{
	background-image: url('../images/gc.png');
}
.logo{
	color: white;
	font-size: 100%;
	right: 50%;
	top: 10%;
}
h3{
	color: $col1;
	text-align: center;
}
.foto, .my, .main, .skills{
	margin-top: 30px;
	margin-bottom: 30px;
}
.foto{
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.skills{
	background: #dedede;
	opacity: 0.5;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	box-shadow: 0 7px 10px #999;
	border: 10px solid #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
	margin: 2%;
}
.skills:hover, .foto:hover{
	-webkit-transform:scale(1.1);
	transform:scale(1.1);	
}
.skills:hover{
	opacity: 1;
}
img{
	width: 90px;
	height: 90px;
}
.logo-main{
	display: flex;
    justify-content: center;
    width: 60%;
    height: 60%;
    margin-top: 10%;
}
.back-to-top {
	position:fixed;
	bottom:20px;
	right:20px;
	padding:20px; 
	color:black;
	text-decoration: none;
	background: rgba(0,0,0,0.5);
}
.sec{
	display: -webkit-flex;
 	display: flex;
  	-webkit-flex-flow: row wrap;
  	justify-content: center;
}
.main-a{
	height: 40%;
}
.pro{
	width: 200px;
	height: 150px;
	border: 10px solid #dedede;
}
.show{
	display: flex;
    justify-content: center;
	color: $col2;
	text-decoration: none;	
}
input{
	width: 80%;
}
form{
	max-width: 500px;
    padding: 10px 20px;
    margin: 10px auto;
    padding: 20px;
}
.hvr-hollow{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-hollow:hover, .hvr-hollow:focus, .hvr-hollow:active{
  background: none;
}

@media (max-width: 640px){
		[class*='col-']{
			clear: both;
			width: 100%;
		}
		ul.topnav li:not(:first-child){
			display: none;
		}
  		ul.topnav li.icon {
  			float: right;
    		display: inline-block;
    	}
    	ul.topnav.responsive {
    		position: relative;
    	}
  		ul.topnav.responsive li.icon {
    		position: absolute;
    		right: 0;
    		top: 0;
  		}
  		ul.topnav.responsive li {
    		float: none;
    		display: inline;
  		}
  		ul.topnav.responsive li a {
    		display: block;
    		text-align: left;
  		}
		.grid-container{
			width: 90%;
		}
		.logo-main{
			display: flex;
		    justify-content: center;
		    width: 70%;
		    height: 30%;
		}
		.skills{
			width: 50px;
			height: 50px;
		}
		img{
			width: 40px;
			height: 40px;
		}
		.foto, .my, .main, .skills{
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 10px;
		}
	}


