body{
	margin: 0;
	height:	auto;
	width: 360px; 
}


.container{
	height: auto;
	width: 300px;
	margin: 0 auto;
	display: flex;
    flex-direction: column;
}

.header{
	height:	436px;
	width: 100%;
	background: $col1;
}

.main{
	height: 100vh;
	background-image: url(../images/5a.jpg);
	background-size: cover;
	size: cover;
    position: center;
  	margin-bottom: 50px;
	display: flex;
  	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center; 
}

.form{
	height: 300px;
	width: 100%;
	background-image: url(../images/4a.jpg);
	font-size: 20px;
}

.footer{
	height: auto;
	width: 100%;
	background-color: $col1;
	color: $col2;
	font-weight: bold;
}

.slider{ 
    position: relative; 
    width: 100%; 
    height: 300px; 
}

.slider img{ 
    position: absolute; 
    left:0; 
    top:0; 
}

img{
	width: 100%;
	height: 100%;
}


ul.box{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: auto;   
}


ul.one, a.nav-a{
	box-sizing: border-box;
	width: 100%;
    color: $col2;
    padding: 8px 16px;
    text-decoration: none;
    text-align: left;
}

.one {
	display: block;
}


li a:hover{
    background-color: $col2;
    color: $col1;
}

.mat{
	padding: 50px 50px;
	font-size: 1em;
}

input[type=text]{
	padding: 5px;
}

input[type=button]{
	background-color: $col1;
    border: none;
    color: $col2;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
}

input, textarea{
	margin: 5px auto 5px auto;
}

textarea{
    width: 100%;
    height: 100px;
    padding: 5px;
}

textarea, input[type=text]{
	font-size: 15px;
}

.load{
    width: 300px;
    height: 30px;
    background: $col2;
}

.loading{
    display: block;
    width: 0;
    height: 30px;
    background: $col1;
    font-size: 20px;
}

span.loading{
	text-align: right;
}

h3{
	margin: auto;
}

.foto{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: $col1;
	background-image: url(../images/grumpycat.png);
	background-size: 100% 100%;
	box-shadow: 5px 5px 5px grey;
}

.skills, .about{
	background: $col3;
	width: 300px;
}


.skills, .about, .foto{
	opacity: 0.8;
    filter: alpha(opacity=50);
}

.skills, .about, .foto:hover{
    opacity: 1.0;
    filter: alpha(opacity=100);
}

@media (max-width: #{$mobile}){
		body{
			width: 414px;
		}
		.constainer{
			width: 380px;
		}
		.foto{
			width: 180px;
			height: 180px;
		}
		.skills, .about, .foto{
			margin: 5px;
		}
		ul.one{
			@include menu-one();
		}
		li a{
			@include menu-two();
		}
		.one{
			@include menu-three();
		}
	}

@media (min-width: #{$mobile}) and (max-width: #{$ipad}){
		body{
			width: 768px;
		}
		.container{
			width: 700px;
		}
		.foto{
			width: 200px;
			height: 200px;
		}
		.skills, .about, .foto{
			margin: 10px;
		}
		ul.one{
			@include menu-one();
		}
		li a{
			@include menu-two();
		}
		.one{
			@include menu-three();
		}
	}

@media (min-width: #{$ipad}) and (max-width: #{$desk}){
		body{
			width: 1200px;
		}
		.container{
			width: 1000px;
		}
		.foto{
			width: 230px;
			height: 230px;
		}
		.skills, .about, .foto{
			margin: 15px;
		}
		ul.one{
			@include menu-one();
		}
		li a{
			@include menu-two();
		}
		.one{
			@include menu-three();
		}
	}

@media (min-width: #{$desk}){
		body{
			width: auto;
		}
		.container{
			width: 1600px;
		}
		.foto{
			width: 250px;
			height: 250px;
		}
		.skills, .about, .foto{
			margin: 20px;
		}
		ul.one{
			@include menu-one();
		}
		li a{
			@include menu-two();
		}
		.one{
			@include menu-three();
		}
	}



