*{
	margin: 0 auto;
	font-family: 'Oswald', sans-serif;
}

.grid-container
{	
	height: auto;
	width: 60%;
}

.row:before, .row:after{
	content: "";
	clear: both;
	display: table;
}

[class*='col-']{
	float: left;
	min-height: 1px;
	height: 150px;
	background: white;
	box-sizing: border-box;
}
.col-1-12
	{
		width: 8.33%;
	}
.col-2-12
	{
		width: 16.66%;
	}
.col-3-12
	{
		width: 24.99%;
	}
.col-4-12
	{
		width: 33.33%;
	}
.col-5-12
	{
		width: 41.65%;
	}
.col-6-12
	{
		width: 49.98%;
	}
.col-7-12
	{
		width: 58.31%;
	}
.col-8-12
	{
		width: 66.64%;
	}
.col-9-12
	{
		width: 74.97%;
	}
.col-10-12
	{
		width: 83.33%;
	}
.col-11-12
	{
		width: 91.63%;
	}
.col-12-12
	{
		width: 100%;
	}

.menu{
	background: $col1;
	height: auto;
}

.header{
	
}

.slider{ 
    position: relative; 
    width: 100%;
    height: 95vh;
}

.slider img{ 
    position: absolute; 
    left:0; 
    top:0; 
}

img.box1{
	height: 95vh;
	width: 100%;
}

.a{
	background: $col1;
	height:	100px;
	
	text-align: center;
}

.nav-a{
	text-decoration: none;
	color: $col2;
}


.footer{
	background: $col1;
	height: 160px;
}

.main{
	height: 400px;
	color: $col2;
}


@media (max-width: 640px){
		[class*='col-']{
			clear: both;
			width: 100%;
		}
		.grid-container{
			width: 90%;
		}
	}





