*{
	padding:0;
	margin:0 auto;
	font-family:sans-serif;
}
.container{
	height: auto;
	width: 60%;
}
.row:before, .row:after{
	content: "";
	clear: both;
	display: table;
}
[class*='col-']{
	float: left;
	min-height: 1px;
	height: 100%;
	background: white;
	box-sizing: border-box;
}
.col-1-12{
		width: 8.33%;
	}
.col-2-12{
		width: 16.66%;
	}
.col-3-12{
		width: 24.99%;
	}
.col-4-12{
		width: 33.33%;
	}
.col-5-12{
		width: 41.65%;
	}
.col-6-12{
		width: 49.98%;
	}
.col-7-12{
		width: 58.31%;
	}
.col-8-12{
		width: 66.64%;
	}
.col-9-12{
		width: 74.97%;
	}
.col-10-12{
		width: 83.33%;
	}
.col-11-12{
		width: 91.63%;
	}
.col-12-12{
		width: 100%;
	}
.one{
	height: 400px;
}
.two{
	height: 400px;
}
.three{
	height: 400px;
}
/*navigation*/
nav{
	background-color: black;
}
li{
	float: left;
}
li a{
	text-align: center;
	padding: 14px 16px;
}
/*header*/
header{
	height: 300px;
}
.picture{
	background: green;
	background-image: url("images/black_chair.png");
	background-size: cover;
}
.text{
	height: 200px;
}
/*one*/
.ab{
	background-color: red;
	border: 1px solid black;
}
.frame1{
	background: url("images/box1_img.jpg");
	background-size: cover;
	border: none;
}
.frame2{
	background-image: url("images/box2_img.jpg");
	border: none;
}
/*two*/
.c{
	background: violet;
}
/*three*/
/*footer*/
@media (max-width: 640px){
		[class*='col-']{
			clear: both;
			width: 100%;
		}
