*{
		/* Background pattern from subtlepatterns.com */
		/*background-image: url("img/tlo.png");*/
		margin: 0px;
		font-family: 'Merriweather', serif;
		font-size: 20px;
}
.main{
	border: 1px solid black;
	background-color:#ddd;
}
footer{
    height:100px;
    background-color:#ddd;
}
#map{
    height:400px;
    background-color:grey;
}